<!DOCTYPE html>

<html lang="en">

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- documentation at http://getbootstrap.com/docs/4.1/, alternative themes at https://bootswatch.com/ -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

        <!-- https://favicon.io/emoji-favicons/money-mouth-face/ -->
        <link href="/static/ineedthis.png" rel="icon">

        <link href="/static/styles.css" rel="stylesheet">

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <!--<script>
            $(document).ready(function() {
              setInterval(function() {
                cache_clear()
              }, 3000);
            });

            function cache_clear() {
              window.location.reload(true);
              // window.location.reload(); use this if you do not remove cache
            }
        </script>
        -->
        <title>LE Stock Simulator: Portfolio</title>

    </head>

    <body>

        <nav class="navbar navbar-expand-md navbar-light bg-light border">
            <a class="navbar-brand" href="/"><img src="/static/ineedthis.png" width="40" height="40" class="d-inline-block align-top" alt=""><span class="blue"> LE Stock Simulator</span></a>
            <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                {% if session.user_id %}
                    <ul class="navbar-nav mr-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/quote">Quote</a></li>
                        <li class="nav-item"><a class="nav-link" href="/list">Company List</a></li>
                        <li class="nav-item"><a class="nav-link" href="/buy">Buy</a></li>
                        <li class="nav-item"><a class="nav-link" href="/sell">Sell</a></li>
                        <li class="nav-item"><a class="nav-link" href="/history">History</a></li>
                        <li class="nav-item"><a class="nav-link" href="/friends">Friends</a></li>
                        <li class="nav-item"><a class="nav-link" href="/ranking">Ranking</a></li>
                    </ul>
                    <ul class="navbar-nav ml-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
                    </ul>
                {% else %}
                    <ul class="navbar-nav ml-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
                        <li class="nav-item"><a class="nav-link" href="/login">Log In</a></li>
                    </ul>
                {% endif %}
            </div>
        </nav>

        {% if get_flashed_messages() %}
            <header>
                <div class="alert alert-primary border text-center" role="alert">
                    {{ get_flashed_messages() | join(" ") }}
                </div>
            </header>
        {% endif %}

        <main class="container p-5">
            <div id="hihi">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Symbol</th>
                            <th>Company</th>
                            <th>Shares</th>
                            <th>Price</th>
                            <th>TOTAL</th>
                        </tr>
                    </thead>

                    <tfoot>
                        <tr>
                            <th colspan="4">TOTAL</th>
                            <th>{{ total | usd }}</th>
                        </tr>
                    </tfoot>

                    <tbody>
                        {% for stock in stocks %}
                            <tr>
                                <td>{{ stock.Symbol }}</td>
                                <td>{{quotes[stock.Symbol]["name"]}}</td>
                                <td>{{ stock.total_shares }}</td>
                                <td>{{ quotes[stock.Symbol]["price"] | usd }}</td>
                                <td>{{ (quotes[stock.Symbol]["price"] * stock.total_shares) | usd }}</td>
                            </tr>
                        {% endfor %}

                        <tr>
                            <td colspan="4">CASH</td>
                            <td>{{ cash_remaining | usd }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>

        <footer class="small text-center text-muted">
            Data provided for free by <a href="https://iextrading.com/developer">IEX</a>. View <a href="https://iextrading.com/api-exhibit-a/">IEX’s Terms of Use</a>.
        </footer>

    </body>

</html>






