<p>Dear {{username}},</p>
<p>you have successfully registered on LE Stock Simulator.</p>
<p>As a gift from us you have initially $10,000.00 to invest, we hope you use it wisely and make big profits.</p>
<hr>
<p>IMPORTANT:</p>
<p>Please <b>unmark</b> this message as spam in order to receive upcomming messages from us due to your future transactions, we swear not to send promotions and newsletters. The reason is that our mails are classified as spam by some mail server algorithms, therefore if you unmark this as spam, future messages will go directly into your Inbox, not in Spam.</p>
<p>We really appreciate your efforts and wish you good luck in your investing!</p>
<p>Best regards,</p>
<p>LE Stock Simulator</p>