{% extends "layout.html" %}

{% block title %}
    register
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="name" placeholder="Your name" type="text">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
        </div>

        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password">
            <input class="form-control" name="confirmation" placeholder="Confirm your password" type="password">
        </div>

        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="email" placeholder="Mail" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
    <hr>
    <p>Please check your Spam Folder in your Mailbox after registration, you will be informed in detail per mail.</p>
{% endblock %}